/* .footer-area{
    background-image: url(../../../photo/footer-bg.png);
    background-size: cover;
} */

.footer-area li{
    padding-bottom: 10px;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: orangered;
    border-radius: 50%;
    border: 1px solid orange;
    padding: 10px;
}
.social-media .active-icon{
    background-color: orangered; ;
    color:white;
}